@model FormPicture

@{
    ViewBag.Title = "Picture Form";
}

@section Styles {
    <link href="~/css/form.css" rel="stylesheet" />
}

<h1 class="custom-title mt-4">@ViewBag.Action Picture</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" enctype="multipart/form-data" asp-action="EditPic">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UploadDate" />

    <div><span asp-validation-for="Picture" class="text-danger"></span></div>
    <div class="input-group mb-3">
        <input class="form-control form-control-lg" asp-for="Picture" type="file" accept="image/png, image.jpg, image/jpeg" />
    </div>
    <div class="d-flex justify-content-center">
        <div class="form-group d-flex flex-column justify-content-around">
            <div class="input-group justify-content-center">
                <div class="form-floating">
                    <input asp-for="DisplayName" class="form-control form-control-lg custom-input" required />
                    <label asp-for="DisplayName">Name</label>
                </div>
                <div>
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group justify-content-center">
                <div>
                    <span asp-validation-for="Story" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <textarea id="custom-textarea" class="form-control" placeholder="Write your story here" asp-for="Story" rows="10"></textarea>
                    <label asp-for="Story">Story</label>
                </div>
            </div>
        </div>


        <div class="form-group flex-column text-center">
            <h4>Albums</h4>
            <div>
                <p class="text-info">To select multiple albums hold <b>Ctrl</b> as you click</p>
                <span asp-validation-for="PetIds"></span>
            </div>
            <div class="input-group justify-content-center">
                <select asp-for="PetIds" class="form-select form-select-lg" multiple aria-label="mutiple select" size="12" required>
                    @foreach (var pet in ViewBag.Pets)
                    {
                        if(Model.PetIds != null && Model.PetIds.Contains(pet.Id)) {
                            <option value="@pet.Id" selected>@pet.Name</option>
                        } else
                        {
                            <option value="@pet.Id" >@pet.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <button type="submit" class="btn btn-dark">@ViewBag.Action</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>