@{
    ViewData["Title"] = "Picture";
}
@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" />
}
<div id="picture-sect" class="d-flex justify-content-center mt-4">
 
    <img class="img-fluid bg-dark" src="~/petpictures/@ViewBag.Pic.FileName" />
    <div id="picture-details" class="bg-dark p-lg-4">
        <h3 class="custom-title mx-auto">@Html.Raw(ViewBag.Pic.DisplayName)</h3>
        <hr class="border border-secondary border-2 opacity-50" />
        <div class="text-center">
            <i id="date" class="text-secondary">@ViewBag.Pic.UploadDate</i>
        </div>
        <p id="story" class="text-light mt-3">@Html.Raw(ViewBag.Pic.Story)</p>


        <div class="text-center">
            <i class="text-secondary">Albums</i>
        </div>
        <div id="album-list" class="mt-2 d-flex justify-content-center gap-2">
           @foreach (var pet in ViewBag.Pic.Pets)
            {
                <span class="bg-primary p-2 rounded">@pet.Name</span>
            }
        </div>
        <div id="btn-list" class="d-flex flex-column mt-3">
            <a role="button" asp-controller="Pet" asp-action="EditPic" asp-route-id="@ViewBag.Pic.Id" asp-route-prevUrl="@Url.PageLink()" asp-route-pathUrl="@ViewBag.PrevUrl" class="btn btn-secondary">Edit</a>
            <a role="button" asp-controller="Pet" asp-action="DeletePic" asp-route-id="@ViewBag.Pic.Id" class="btn btn-danger">Delete</a>
            <a class="btn btn-dark text-light" href="@ViewBag.PrevUrl">&#8592; Back</a>
        </div>
    </div>
</div>